# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=test
POSTGRES_HOST=backend-db
PGPORT=5433

LOG_LEVEL=INFO
RETRY_COUNT=3

NEXT_PUBLIC_MAX_FILE_SIZE=10485760
NEXT_PUBLIC_ALLOWED_EXTENSIONS=.pdf,.docx,.doc,.jpg,.jpeg,.png,.exe,.js,.txt

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbit
RABBITMQ_PASS=1234
RABBITMQ_QUEUE=new_files_queue